.footer {
	background-color: $footer-background-color;
	.container {
		@extend %flex-container;
		align-items: baseline;

		padding-top: 45px;
		padding-bottom: 60px;
	}
}
.footer {
	.logo {
		margin-top: 0;
		margin-right: 0;
		padding: 0;
		margin-bottom: 8px;

		color: $light-text-color;
	}
}
.footer {
	.main-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
}

.footer-title {
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;

	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: $light-text-color;
}
.footer-adress {
	margin-right: 69px;
}
.footer-adress-item {
	letter-spacing: 0.03em;
	line-height: 1.71;

	&:not(:last-child) {
		margin-bottom: 9px;
	}
}
.footer-adress-list {
	@extend %list;
	font-style: normal;
	letter-spacing: 0.03em;

	color: $light-text-color;
}
.footer-adress-link {
	@extend %link;
	color: rgba(255, 255, 255, 0.6);

	transition-property: color;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}
.footer-subscribe {
	margin-left: auto;

	.footer-title {
		display: block;
	}
}
.footer-join {
	.social-link {
		background: rgba(255, 255, 255, 0.1);
	}
	.social-icon {
		fill: $primary-background-color;
	}
}
.footer-subscribe-input {
	margin-right: 12px;
	width: 358px;
	height: 50px;
	padding: 15px;

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: $main-text-color;

	background-color: $footer-background-color;

	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-icon-send {
	margin-left: 10px;
	fill: currentColor;
	width: 24px;
	height: 24px;
}
