.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;

	background-color: rgba(0, 0, 0, 0.2);
}
.subscribe-form-relative {
	position: relative;
}
.backdrop.is-hidden .subscribe-form {
	transform: scale(0.9) translate(-50%, -50%);
}
.subscribe-form {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: calc(100% - 30px);
	max-width: calc(100% - 30px);

	overflow: auto;

	padding: 40px;
	background-color: $primary-background-color;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 4px;

	transform: scale(1) translate(-50%, -50%);
	transition-property: transform;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;
}
.subcribe-form-button-close {
	@extend %flex-container;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;

	padding: 0;
	color: #000000;

	background: $primary-background-color;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	transition-property: color;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}
.subscribe-form-button-close-icon {
	width: 18px;
	height: 18px;
	fill: currentColor;
}
.subscribe-form-title {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-align: center;

	color: $headers-text-color;
}
.subscribe-form-input {
	width: 448px;
	height: 40px;

	margin-bottom: 30px;
	padding-left: 42px;
	padding-top: 12px;
	padding-right: 42px;
	padding-bottom: 12px;

	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;

	color: $main-text-color;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	cursor: pointer;

	transition-property: border-color;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;

	&.comment {
		height: 120px;
		margin-bottom: 20px;
		resize: none;

		padding-left: 16px;
		padding-right: 16px;
	}
	&:focus {
		border-color: $accent-color;
	}
	&:focus ~ .subscribe-form-input-icon {
		color: $accent-color;
	}
	&:focus ~ .subscribe-form-input-label {
		transform: translate(-32px, -30px);
		color: $accent-color;
	}
	&:focus ~ .subscribe-form-input-label.comment {
		transform: translateY(-32px);
	}
	&:not(:placeholder-shown) ~ .subscribe-form-input-label {
		transform: translate(-32px, -30px);
	}
	&:not(:placeholder-shown) ~ .subscribe-form-input-label.comment {
		transform: translateY(-32px);
	}
}
.subscribe-form-input-label {
	position: absolute;
	top: 12px;
	left: 42px;

	line-height: 1.14;
	letter-spacing: 0.01em;

	transform: translate(0, 0);
	transition-property: transform, color;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;

	&.comment {
		left: 12px;
	}
}
.subscribe-form-input-icon {
	position: absolute;
	top: 11px;
	left: 16px;
	width: 18px;
	height: 18px;

	color: #000;
	fill: currentColor;

	transition-property: color;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;
}
.subscribe-form-checkbox,
.subscribe-form-button {
	@extend %flex-container;
	justify-content: center;
}
.subscribe-form-checkbox-input {
	margin-right: 7px;
	padding: 0;
	opacity: 0;

	&:checked + .subscribe-form-checkbox-label:before {
		opacity: 0;
	}
	&:checked + .subscribe-form-checkbox-label:after {
		opacity: 1;
	}
}
.subscribe-form-checkbox-label {
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;

	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 16px;
		height: 15px;
		top: 3px;
		left: -23px;

		transition-property: opacity;
		transition-duration: $animation-duration;
		transition-timing-function: $animation-timing-function;
	}
	&:before {
		background: url(../images/uncheck.svg);
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 1;
	}
	&:after {
		background: url(../images/check.svg);
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0;
	}
}
.subscribe-link-agree {
	color: $accent-color;
}
.subscribe-form-button-disabled {
	background-color: $icon-color;
	pointer-events: none;
}
