.social-box {
	@extend %list;
	@extend %flex-container;
}
.social-link {
	@extend %link;
	@extend %flex-container;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;

	color: $icon-color;

	border-radius: 50%;

	transition-property: background-color, color;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;
	&:hover,
	&:focus {
		background-color: $accent-color;
		color: $light-text-color;
	}
}
.social-icon {
	fill: currentColor;
	width: 20px;
	height: 20px;
}
.social:not(:last-child) {
	margin-right: 10px;
}
