.container {
	width: 1200px;
	padding-top: 94px;
	padding-bottom: 94px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;

	overflow: hidden;
	clip: rect(0 0 0 0);
}
.is-hidden {
	opacity: 0;
	pointer-events: none;
}
.section-title {
	margin-top: 0;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-align: center;

	color: $headers-text-color;
}
.main-button {
	border-radius: 4px;
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	padding-right: 9px;
	min-width: 200px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;

	border: 1px solid transparent;
	color: $light-text-color;
	background-color: $button-color;

	transition-property: background-color;
	transition-duration: $animation-duration;
	transition-timing-function: $animation-timing-function;

	cursor: pointer;

	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}
