$main-text-color: #757575;
$headers-text-color: #212121;
$light-text-color: #ffffff;
$accent-color: #2196f3;

$icon-color: #afb1b8;

$primary-background-color: #ffffff;
$secondary-backgroun-color: #f5f4fa;
$footer-background-color: #2f303a;

$button-color: #2196f3;
$inactiv-button-color: #f5f4fa;

$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;

$default-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
